HackCPU/db
HackCPU/incremental_db
HackCPU/output_files
HackCPU/CPU_GARAGE.qws
HackCPU/memory/rom.bak
HackCPU/qar/CPU_Garage_Kiwi.qarlog
HackCPU/CPU_GARAGE.archive.rpt
HackCPU/qar/CPU_Garage_DE10_Lite.qarlog
